* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;
    overflow: visible;
    background: pink
}




/* ------ HEADER ------ */
header {
    width: 100%;
    background: gray;
    color: white;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

/* ------ LAYOUT ------ */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.left,
.right {
    background: white;
    padding: 20px 20px 70px 20px;
    border-radius: 10px;

}

.left {
    width: 40%;
    background: white;
}

.right {
    width: 60%;
}

/* ------ FORM ------ */
form input {


    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    /*  Inputs arredondados */
    box-sizing: border-box;
    font-size: 15px;
}


form button {
    /* BOTÃO ROXO  */
    width: 100%;
    padding: 12px;
    background: rgb(148, 142, 143);
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.3s;

}

form button:hover {
    background: #550f1571;
    /* Roxo mais claro */
}

#formPaciente h3 {
    margin: 20px 0px;
}

/* ------ RIGHT PANEL ------ */
.right textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

/* ------ FOOTER ------ */
footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background: gray;
    color: #fff;

    position: fixed;
    /* Fica fixo na janela do navegador */
    bottom: 0;
    /* Alinha à parte inferior */
    left: 0;
    /* Alinha à esquerda */
    width: 100%;
    /* Ocupa a largura total */
    z-index: 100;
    /* Garante que fique acima de outros elementos */
}


footer a {
    color: #fff;
    text-decoration: underline;
}