body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #F7D3E8;  /* Rosa padrão */

    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background: gray;
    color: white;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-shrink: 0;
}

header a.logout {
    color: #fff;
    text-decoration: none;
    background: #5A5A5A;     /* Cinza */
    padding: 6px 14px;
    border-radius: 5px;
}

/* CONTAINER */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 60px);
    box-sizing: border-box;
}

/* BOX */
.box {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* INPUTS E TEXTAREA */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

/* BOTÕES */
button {
    width: 100%;
    padding: 10px;
    background: #5A5A5A;   /* Cinza */
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #444444;  /* Cinza escuro no hover */
}

textarea {
    flex-grow: 1;
    min-height: 0;
}

